@(sampleModel: model.SampleModel)

@import helper._

@main("Welcome to Play") {

    @helper.form(action = routes.SampleController.confirm) {
        <table>
            <tr><td>id:</td><td>@sampleModel.id</td><td><input type="hidden" value='@sampleModel.id' name="id"></td></tr>
            <tr><td>name:</td><td>@sampleModel.name</td><td><input type="hidden" value='@sampleModel.name' name="name"></td></tr>
            <tr><td>num:</td><td>@sampleModel.num</td><td><input type="hidden" value='@sampleModel.num' name="num"></td></tr>
            <tr><td><input type="submit" id="ok" value="OK" ></td></tr>
        </table>
    }

}
