@import helper._

@main("Welcome to Play") {

    <form action="@routes.SampleController.input" method="post" >
    <table>
    <tr><td>id:</td><td><input type="text" id="id" name="id" ></td></tr>
    <tr><td>name:</td><td><input type="text" id="name"  name="name" ></td></tr>
    <tr><td>num:</td><td><input type="text" id="num"  name="num" ></td></tr>
    <tr><td><input type="submit" id="ok" value="OK" ></td></tr>
    </table>
    </form>
}
